POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_NAME=theatre
POSTGRES_USER=theatre
POSTGRES_DB=theatre
POSTGRES_HOST=db
POSTGRES_PORT=5432
PGDATA=/var/lib/postgresql/data
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=DJANGO_SUPERUSER_PASSWORD
SECRET_KEY=SECRET_KEY
DEBUG=True