asgiref==3.12.1
attrs==26.1.0
black==26.5.1
click==8.4.2
Django==5.2.17
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
pillow==12.3.0
platformdirs==4.11.0
psycopg==3.3.4
psycopg-binary==3.3.4
PyJWT==2.13.0
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.25.0
sqlparse==0.5.5
uritemplate==4.2.0
flake8==7.3.0
